<div class="container">
    <h1>Booking Karaoke & Movies</h1>
    <nav>
        <ul>
            <li><a routerLink="/home" class="btn">Home</a></li>
            <li><a routerLink="/booking" class="btn">Prenota</a></li>
            <li><a routerLink="/karaoke" class="btn">Karaoke</a></li>
            <li><a routerLink="/film" class="btn">Films</a></li>
            <li><a routerLink="/food" class="btn">Menu</a></li>
            <li><a routerLink="/beverage" class="btn">Bevande</a></li>
            <li><a routerLink="/room" class="btn">Stanze</a></li>
            <li><a routerLink="/contact" class="btn">Contatti</a></li>
            g
        </ul>
    </nav>
</div>
