<div class="container">
    <h1>Booking Karaoke & Movies</h1>
    <nav>
        <ul>
            <li><a routerLink="/home" class="btn" (click)="navigateToHome()">Home</a></li>
            <li><a routerLink="/booking" class="btn">Prenota</a></li>
            <li><a routerLink="/menu" class="btn" (click)="navigateToMenu()">Menu</a></li>
            <li><a routerLink="/rooms" class="btn">Stanze</a></li>
            <li><a routerLink="/contact" class="btn">Contatti</a></li>
        </ul>
    </nav>
</div>
