:host {
    display: block;
    background: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    backdrop-filter: blur(30px);
    z-index: 10;
    position: relative; /* Aggiungi questa linea */
}

section{
    color: white;
    display: flex;
    overflow: hidden;
    z-index: 10;
}
.container {
    display: inline;
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;  
    overflow: hidden;
    font-family: 'Arial', sans-serif;
    backdrop-filter: blur(30px);
    z-index: 10;
}

nav {
    text-align: center;
    margin-top: 10px;
    z-index: 10;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

.btn {
    padding: 15px 30px;
    text-decoration: none;
    margin: 10px;
    text-transform: uppercase;
    display: inline-block;
    animation: flicker 1.5s infinite alternate;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em;
}

#sign1 {
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    color: #ff143c;
    text-shadow: 0 0 10px #DF0024, 0 0 20px #DF0024, 0 0 30px #DF0024, 0 0 40px #DF0024, 0 0 50px #DF0024, 0 0 60px #DF0024, 0 0 70px #DF0024;
}

#sign2 {
    top: 30%;
    left: 20%;
    color: #ff143c;
    text-shadow: 0 0 10px #DF0024, 0 0 20px #DF0024, 0 0 30px #DF0024, 0 0 40px #DF0024, 0 0 50px #DF0024, 0 0 60px #DF0024, 0 0 70px #DF0024;
}

#sign3 {
    top: 10%;
    left: 50%;
    color: #fcd431;
    text-shadow: 0 0 10px #F3C300, 0 0 20px #F3C300, 0 0 30px #F3C300, 0 0 40px #F3C300, 0 0 50px #F3C300, 0 0 60px #F3C300, 0 0 70px #F3C300;
}

#sign4 {
    bottom: 20%;
    left: 30%;
    color: #fcd431;
    text-shadow: 0 0 10px #F3C300, 0 0 20px #F3C300, 0 0 30px #F3C300, 0 0 40px #F3C300, 0 0 50px #F3C300, 0 0 60px #F3C300, 0 0 70px #F3C300;
}

#sign5 {
    bottom: 10%;
    right: 20%;
    color: #03e7d4;
    text-shadow: 0 0 10px #00AC9F, 0 0 20px #00AC9F, 0 0 30px #00AC9F, 0 0 40px #00AC9F, 0 0 50px #00AC9F, 0 0 60px #00AC9F, 0 0 70px #00AC9F;
}

#sign6 {
    bottom: 30%;
    right: 80%;
    color: #03e7d4;
    text-shadow: 0 0 10px #00AC9F, 0 0 20px #00AC9F, 0 0 30px #00AC9F, 0 0 40px #00AC9F, 0 0 50px #00AC9F, 0 0 60px #00AC9F, 0 0 70px #00AC9F;
}

#sign7 {
    bottom: 50%;
    right: 30%;
    color: #3e8ce6;
    text-shadow: 0 0 10px #2E6DB4, 0 0 20px #2E6DB4, 0 0 30px #2E6DB4, 0 0 40px #2E6DB4, 0 0 50px #2E6DB4, 0 0 60px #2E6DB4, 0 0 70px #2E6DB4;
}

#sign8 {
    bottom: 10%;
    right: 50%;
    transform: translateX(50%);
    color: #3e8ce6;
    text-shadow: 0 0 10px #2E6DB4, 0 0 20px #2E6DB4, 0 0 30px #2E6DB4, 0 0 40px #2E6DB4, 0 0 50px #2E6DB4, 0 0 60px #2E6DB4, 0 0 70px #2E6DB4;
}

@keyframes flicker {
    0% { opacity: 1; }
    50% { opacity: 0.5; }
    100% { opacity: 1; }
}