/* Stile base per la pagina */
body {
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
  }
  
 .menu{
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 10px;
  justify-content: space-around;
  background-color: #f8f8f8; /* Sfondo chiaro per il menu */
  border: 1px solid #dcdcdc; /* Bordo sottile */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Ombra leggera per profondità */
  border-radius: 10px; /* Angoli arrotondati */
  padding: 10px; /* Spazio interno */
  margin: 10px; /* Spazio esterno */
  box-sizing: border-box; /* Include padding e bordo nella larghezza */
  overflow: hidden; /* Nasconde il contenuto che sporge */
 }

 li{
  list-style-type: none;
  padding: 15px ;
  border-bottom: 1px solid #ffa726;
  transition: background 0.3s ease;
  background: #ffe0b2;
  border-radius: 8px;
  margin: 10px 0;
  align-items: center; /* Allinea verticalmente */
}

li:last-child {
  border-bottom: none;
}

h3 {
  font-weight: bold;
  margin: 500px 0;
  color: #ef6c00;
  font-size: 1.2em;
}

img{
  width: auto;
  height: 200px;
  display: block;
    margin: 0 auto; /* Centra l'immagine */
}

li a {
  text-decoration: none;
  color: #e65100;
  transition: color 0.3s ease;
}

li a:hover {
  color: #ff6f00;
}

#name{
  font-size: 20px; /* Dimensione del carattere */
  color: #333; /* Colore del testo */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); /* Ombra leggera */
  display: flex;
  justify-content: center;
  font-weight: bold;
}

.title {
  text-align: center; /* Centra il testo del titolo */
  width: 100%; /* Fa sì che il titolo prenda tutta la larghezza disponibile */
  margin-bottom: 20px; /* Aggiunge spazio sotto il titolo */
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Jakarta', sans-serif;
  font-weight: bold;
  font-size: 2.5em; /* Aumenta la dimensione del testo */
  color: white; /* Colore del testo */
  background: linear-gradient(135deg, #ff7e5f, #feb47b); /* Sfondo con gradiente */
  padding: 20px; /* Aggiunge spazio interno */
  border-radius: 15px; /* Bordo arrotondato */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Ombra al testo */
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Ombra al testo */
}

section {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  margin-bottom: 20px;
  padding: 15px;
}