<section class="maxContainer">
    <section class="middleContainer">
        <div class="room-container">
            <section class="room-overview">
                <p class="title">LE NOSTRE STANZE</p>
                <ul class="room-list">
                    @for (r of room; track r.id) {
                    <li>
                        <div class="room">{{ r.name }}</div>
                        <div class="room-image"><img id="img" [src]="getImagePath(r)" alt="{{ r.imageName }}"></div>
                    </li>
                    }
                </ul>
            </section>
        </div>

    </section>
</section>