<section>
  <div class="login-container">
    <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
      <h2>Login</h2>

      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" placeholder="Inserisci email" id="email" name="email" required ngModel>
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" placeholder="Inserisci password" id="password" name="password" required ngModel>
      </div>

      <button type="submit" [disabled]="loginForm.invalid">Login</button>
    </form>
  </div>
</section>