/* Stile base per la pagina */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 20px;
}

.title {
  text-align: center; /* Centra il testo del titolo */
  width: 100%; /* Fa sì che il titolo prenda tutta la larghezza disponibile */
  margin-bottom: 20px; /* Aggiunge spazio sotto il titolo */
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Jakarta', sans-serif;
  font-weight: bold;
  font-size: 2.5em; /* Aumenta la dimensione del testo */
  color: white; /* Colore del testo */
  background: linear-gradient(135deg, #ff7e5f, #feb47b); /* Sfondo con gradiente */
  padding: 20px; /* Aggiunge spazio interno */
  border-radius: 15px; /* Bordo arrotondato */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Ombra al testo */
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Ombra al testo */
}

/* Stili per le sezioni del menu */
section {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  margin-bottom: 20px;
  padding: 15px;
}

/* Stili per le card del menu */
app-menu-card {
  display: block;
  border: 1px solid #ddd;
  margin: 10px 0;
  padding: 10px;
  border-radius: 4px;
}

/* Stili specifici per i menu */
#standardMenu app-menu-card {
  border-left: 5px solid #007bff;
}

#celiacMenu app-menu-card {
  border-left: 5px solid #28a745;
}

#veganMenu app-menu-card {
  border-left: 5px solid #ffc107;
}
