@if (menu) {
<section>
        <div>
            <ul class="snacks-list">

                <h2>Snacks:</h2>
                @for (s of menu.snacks; track s.id){
                    <li id="name">{{s.name}} <img id="img" [src]="getImagePath(s.imageName)" alt="{{ s.name }}" class="product-image"> </li>
                }

                <h2>Sandwiches:</h2>
                @for (s of menu.sandwiches; track s.id){
                    <li id="name">{{s.name}} <img id="img" [src]="getImagePath(s.imageName)" alt="{{ s.name }}" class="product-image"></li>
                }

                <h2>Fried Foods:</h2>
                @for (f of menu.friedFoods; track f.id){
                    <li id="name">{{f.name}} <img id="img" [src]="getImagePath(f.imageName)" alt="{{ f.name }}" class="product-image"></li>
                }

                <h2>Salads:</h2>
                @for (s of menu.salads; track s.id){
                    <li id="name">{{s.name}} <img id="img" [src]="getImagePath(s.imageName)" alt="{{ s.name }}" class="product-image"></li>
                }

                <h2>Desserts:</h2>
                @for (d of menu.desserts; track d.id){
                    <li id="name">{{d.name}} <img id="img" [src]="getImagePath(d.imageName)" alt="{{ d.name }}" class="product-image"></li>
                }

                <h2>Special Foods:</h2>
                @for (s of menu.specialFoods; track s.id){
                    <li id="name">{{s.name}} <img id="img" [src]="getImagePath(s.imageName)" alt="{{ s.name }}" class="product-image"></li>
                }

            </ul>
        </div>
</section>
}
