@if (menu) {
<div class="menus-container">
  <section class="menu">
    <p class="title">SNACKS</p>
    <section class="food">
      @for (s of menu.snacks; track s.id){
      <li>
        <p class="name">{{ s.name }}</p>
        <p class="product-image"><img id="img" [src]="getImagePath(s)" alt="{{ s.name }}"  /></p>
      </li>
      }
    </section>
  </section>

  <section class="menu">
    <p class="title">PANINI</p>
    <div class="food">
      @for (s of menu.sandwiches; track s.id){
      <li>
        <p class="name">{{ s.name }}</p>
        <p class="product-image"><img id="img" [src]="getImagePath(s)" alt="{{ s.name }}"  /></p>
      </li>
      }
    </div>
  </section>

  <section class="menu">
    <p class="title">FRITTI</p>
    <div class="food">
      @for (f of menu.friedFoods; track f.id){
      <li>
        <p class="name">{{ f.name }}</p>
        <p class="product-image"><img id="img" [src]="getImagePath(f)" alt="{{ f.name }}" title="{{f.description}}"/></p>
      </li>
      }
    </div>
  </section>

  <section class="menu">
    <p class="title">INSALATE</p>
    <div class="food">
      @for (s of menu.salads; track s.id){
      <li id="name">
        <p class="name">{{ s.name }}</p>
        <p class="product-image" ><img id="img" [src]="getImagePath(s)" alt="{{ s.name }}" /></p>
      </li>
      }
    </div>
  </section>

  <section class="menu">
    <p class="title">DOLCI</p>
    <div class="food">
      @for (d of menu.desserts; track d.id){
      <li id="name">
        <p class="name">{{ d.name }}</p>
        <p class="product-image"><img id="img" [src]="getImagePath(d)" alt="{{ d.name }}"  /></p>
      </li>
      }
    </div>
  </section>

  <section class="menu">
    <p class="title">PIATTI SPECIALI</p>
    <div class="food">
      @for (s of menu.specialFoods; track s.id){
      <li id="name">
        <p class="name">{{ s.name }}</p>
        <p class="product-image"><img id="img" [src]="getImagePath(s)" alt="{{ s.name }}"/></p>
      </li>
      }
    </div>
  </section>
</div>
}