<div>
    <ul class="snacks-list">
        <h1>Menu Standard</h1>

        <h2>Snacks:</h2>
        @for (m of menu.snacks; track m.id){
            <li id="name">{{m.name}} <img id="img" [src]="m.imagePath" alt="{{ m.name }}" class="product-image"></li>
        }

        <h2>Sandwiches:</h2>
        @for (m of menu.sandwiches; track m.id){
            <li id="name">{{m.name}} <img id="img" [src]="m.imagePath" alt="{{ m.name }}" class="product-image"></li>
        }

        <h2>Fried Foods:</h2>
        @for (m of menu.friedFoods; track m.id){
            <li id="name">{{m.name}} <img id="img" [src]="m.imagePath" alt="{{ m.name }}" class="product-image"></li>
        }

        <h2>Salads:</h2>
        @for (m of menu.salads; track m.id){
            <li id="name">{{m.name}} <img id="img" [src]="m.imagePath" alt="{{ m.name }}" class="product-image"></li>
        }

        <h2>Desserts:</h2>
        @for (m of menu.desserts; track m.id){
            <li id="name">{{m.name}} <img id="img" [src]="m.imagePath" alt="{{ m.name }}" class="product-image"></li>
        }

        <h2>Special Foods:</h2>
        @for (m of menu.specialFoods; track m.id){
            <li id="name">{{m.name}} <img id="img" [src]="m.imagePath" alt="{{ m.name }}" class="product-image"></li>
        }

    </ul>
</div>

