.menus-container {
  display: flex;
  justify-content: center; /* Centra il contenitore principale */
  padding: 10px;
}

.title {
  text-align: center; /* Centra il testo del titolo */
  width: 100%; /* Fa sì che il titolo prenda tutta la larghezza disponibile */
  margin-bottom: 20px; /* Aggiunge spazio sotto il titolo */
  justify-content: center;
  display: flex;
  font-family: 'Jakarta';
}

.menu {
  background-color: #f8f8f8; /* Sfondo chiaro per il menu */
  border: 1px solid #dcdcdc; /* Bordo sottile */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Ombra leggera per profondità */
  border-radius: 10px; /* Angoli arrotondati */
  padding: 20px; /* Spazio interno */
  margin: 10px; /* Spazio esterno */
  box-sizing: border-box; /* Include padding e bordo nella larghezza */
  overflow: hidden; /* Nasconde il contenuto che sporge */
}

.film-list {
  display: grid; /* Utilizza CSS Grid per la disposizione */
  grid-template-columns: repeat(5, 1fr); /* Griglia a 3 colonne */
  gap: 10px; /* Spazio tra gli elementi della griglia */
  list-style: none; /* Rimuove i puntini dalla lista */
  padding: 0; /* Rimuove il padding predefinito */
  margin: 0; /* Rimuove il margine predefinito */
}

.film {
  padding: 15px 20px;
  border: 1px solid #ffa726; /* Cambiato da border-bottom a border per definire i bordi degli elementi della griglia */
  transition: background 0.3s ease;
  background: #ffe0b2;
  border-radius: 8px;
  margin: 10px 0;
  display: flex; /* Utilizzo di flexbox per allineare contenuti */
  align-content: center;
}

.film:hover {
  background: #ffcc80;
}

.product-image {
  display:flex;
  width: auto;
  height: 570px;
  margin-right: 3px;
  justify-content: center;
}

#name {
  font-size: 26px; /* Dimensione del carattere */
  color: #333; /* Colore del testo */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); /* Ombra leggera */
  display: flex;
  justify-content: center;
  font-weight: bold;
}