.container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.container > div{
    width: 100px;
    height: 50px;
    margin: 5px;
}
.available{
    background-color: rgb(87, 244, 87);
}
.booked{
    background-color: rgb(255, 95, 95);
}