<section class="intro">
    <div class="container">
        <h2>Benvenuti al MtFuji</h2>
        <p>Benvenuti nel vostro spazio ideale per divertirvi con karaoke e film! Prenotate ora la vostra stanza e preparatevi a vivere momenti indimenticabili con amici e famiglia. Scoprite la nostra offerta unica e lasciatevi coinvolgere dal divertimento senza fine.</p>
        <a routerLink="/login" class="btn" (click)="navigateToLogin()">Accedi</a>
        <a routerLink="/register" class="btn" (click)="navigateToRegister()">Registrati</a>
    </div>
</section>
