@if (isLoggedIn) {
<section>
  <div class="container">
    <h1>Servizio Prenotazioni Stanze</h1>

    <h2>Stanze</h2>
    <div class="rooms">
      @for (room of rooms; track room.name) {
      <div class="room" (click)="selectRoom(room)">
        <h3>{{ room.name }}</h3>
        <p>€{{ room.cost }} all'ora</p>
      </div>
      }
    </div>
    @if (selectedRoom) {
    <div class="booking-form">
      <h2>Prenotazione per {{ selectedRoom.name }}</h2>
      <form #availabilityForm="ngForm" (ngSubmit)="showAvailability(selectedRoom.id, availabilityForm)">
        <label for="date">Giorno di Check-in</label>
        <input type="date" id="date" name="date" required ngModel>
        <button type="submit">Vedi disponibilità</button>
      </form>
      <p>Totale: €{{ selectedRoom.cost * booking.hours }}</p>
    </div>
    }
  </div>
</section>
} @else {
<p>Devi essere loggato per prenotare una stanza.</p>
}
@if(showReservations){
<app-room-availability [bookings]="bookings" [reservationDate]="selectedDate"
  (hourChosen)="onHourChosen($event)"></app-room-availability>
}